* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: #000;
  width: 100%;
}
div.container {
  width: 500px;
  position: relative;
  margin-top: 5%;
  left: 35%;
}
img {
  width: 200px;
}

button {
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  cursor: pointer;
  height: 30px;
  padding: 5px;
  background-color: rgb(3, 211, 72);
  outline: none;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 3px #fff;
}
